
@font-face {
font-family: 'Sanskrit2003';
src: url('../fonts/Sanskrit2003-1.ttf') format('truetype');
font-weight: normal;
font-style: normal;} 

h1 {text-align:center;}
h2 {text-align: center; font-family:Sanskrit2003;font-size:2em;color:#f53e00;}
h3 {text-align:left;font-family:Sanskrit2003;font-size:1.75em;font-weight:normal;color:#f53e00;}
h4 {text-align:center;font-family:Sanskrit2003;font-size:1.75em;font-weight:normal;color:#f53e00;}


p.hdr1 {text-align:center; font-size:3em; color:#cc1100; font-family:Sanskrit2003; } 
p.hdr2 {text-align:center; font-size:2.25em; color:#800000; font-family:Sanskrit2003; } 
p.hdr3 {text-align:center; font-size:1.5em; color:#800000; font-family:Sanskrit2003; } 
p.hdr4 {text-align:center; font-size:1em; color:#800000; font-family:Sanskrit2003; } 

.shl {float:left; width:44%; text-align:left; color:#800000; font-family:Sanskrit2003;;font-size:1.4em;line-height:1.5em; margin-left:15px; letter-spacing:normal;} 

.shl2 {float:left; width:60%; text-align:left; color:#800000; font-family:Sanskrit2003;;font-size:1.4em;line-height:1.5em; margin-left:100px; letter-spacing:normal;} 

.ovi {float:left; width:42%; text-align:left; color:#b82e00; font-family:Sanskrit2003;;font-size:1.4em;line-height:1.5em; margin-left:10px; letter-spacing:normal;}

.ovi2 {float:left; width:60%; text-align:left; color:#b82e00; font-family:Sanskrit2003;;font-size:1.4em;line-height:1.5em; margin-left:100px; letter-spacing:normal;} 

.arth { float:left; width:54%; text-align:justify; color:#ff6e33; font-family:Sanskrit2003;font-size:1.4em;line-height:1.5em; margin-left:10px; letter-spacing:normal;}

.txt {text-align:justify; margin:2px 30px 2px 30px ; font-family:Sanskrit2003;font-size:1.4em; color:#800000}
.pre { float: left; padding: 20px; text-align: left; font-size:1em;font-weight:bold; width: 44%; }
.nex { float: right; padding: 20px; text-align: right; font-size:1em;font-weight:bold; width: 44%; } 
.top { text-align: right;margin-right: 30px; font-size: 1.5em; } 
/*
p.shl { text-align:center; font-size:1.4em; line-height:1.5em; color:#800000; font-family:Sanskrit2003; } 
p.ovi { text-align:center; font-size:1.4em; line-height:1.5em; color:#b82e00; font-family:Sanskrit2003; } 
p.note { text-align:center; font-size:1.2em; line-height:1.6em; font-family:Sanskrit2003; color:#ff6633;}
p.top { text-align: right; font-size: 1.5em; margin-right:30px } 
.pre { float: left; padding: 10px; text-align: left; font-size:1.2em;font-weight:bold; width: 44%; }
.nex { float: right; padding: 10px; text-align: right; font-size:1.2em;font-weight:bold; width: 44%; }     */

#wrapper {  margin: 0 auto;  width: 100%; }	  
#leftcolumn {  float: left; height: 100%; width: 15%; position: relative; }
#rightcolumn {  float: right; height: 100%; width: 80%; display: inline; position: relative; }
table {width:75%; text-align:center; border-style:none; margin:0 auto; background:#ffffbb; */}
.inactiv { /*Disabled link style*/ color:#CCC; } 

