
@font-face {
font-family: 'Sanskrit2003';
src: url('../fonts/Sanskrit2003.ttf') format('truetype');
font-weight: normal;
font-style: normal;} 

p.hdr0 {text-align:center; margin:.0001pt; font-size:1.25em; color:#0b5394; font-family:Sanskrit2003;}
p.hdr1 {text-align:center; margin:.0001pt; font-size:2.75em; color:#0b5394; font-family:Sanskrit2003;}
p.hdr2 {text-align:center; margin:.0001pt; font-size:2em; color:#cc0000; font-family:Sanskrit2003;}
p.hdr3 {text-align:center; margin:.0001pt; font-size:1.25em; color:#cc0000; font-family:Sanskrit2003;}
p.hdr4 {text-align:center; margin:.0001pt; font-size:1em; color:#ff0000; font-family:Sanskrit2003;}
p.txt {text-align:justify;margin-left:30px;margin-right:30px;font-family:Sanskrit2003;font-size:1.4em;font-weight:normal;color:#0000a0; }
.pre { float: left; padding: 10px; text-align: left; font-size:1em;font-weight:bold; width: 48%; } 
.nex { float: left; padding: 10px; text-align: right; font-size:1em;font-weight:bold; width: 47%; } 
p.shl { text-align:center; margin:.0001pt; font-size:1.25em; line-height:1.8em; color:#0000a0; font-family:Sanskrit2003; }
p.ovi { text-align:center; margin:.0001pt; font-size:135%; line-height:2em; color:#0000a0; font-family:Sanskrit2003; }
p.note { text-align:center; margin:.0001pt; font-size:1.2em; line-height:1.8em; color:#ff6633; font-family:Sanskrit2003; }
#wrapper {  margin: 0 auto;  width: 100%; }	  
#leftcolumn {  float: left; height: 100%; width: 23%; margin-left: 15px; position: relative; }
#rightcolumn {  float: right; height: 100%; width: 75%; display: inline; position: relative; }
table {width:75%; text-align:center; border-style:none; margin:0 auto; background:#e0ffff; */}
