
@font-face {
font-family: 'Sanskrit2003';
src: url('../fonts/Sanskrit2003-1.ttf') format('truetype');
font-weight: normal;
font-style: normal;} 

a href { text-decoration:none; }

.hdr1 {color:red; font-family:Sanskrit2003;font-size:2em; line-height:2.1em;letter-spacing:normal;text-align:center;} 

.hdr2 {color:#ff4500; font-family:Sanskrit2003;font-size:1.4em;line-height:1.5em;letter-spacing:normal;text-align:center;} 

.hdr3 {color:#003399;font-family:Sanskrit2003;font-size:1.25em;line-height:1.5em;letter-spacing:normal;text-align:left; margin-left:15px;} 

.hdr4 {color:#003399;font-family:Sanskrit2003;font-size:1.25em;line-height:1.5em;letter-spacing:normal;text-align:center; } 

.shlok {text-align:left; font-size:1.4em; line-height:1.5em; margin:2px 30px 2px 30px; color:#ff4500;font-family:Sanskrit2003;}

.viv {text-align:justify; font-size:1.4em; line-height:1.5em; margin:2px 30px 2px 30px; color:#993300;font-family:Sanskrit2003;}

.end { font-family:Sanskrit2003;font-size:1.3em;line-height:1.6em; color:#003399; text-align:center; letter-spacing:normal;}  
.top { font-family:Sanskrit2003;font-size:1.3em;line-height:1.6em; color:#003399; text-align:right; margin-right:15px; letter-spacing:normal;}  

.pre { float: left; padding: 10px; text-align: left; font-size:1.2em;font-weight:bold; width: 44%; }
.nex { float: right; padding: 10px; text-align: right; font-size:1.2em;font-weight:bold; width: 44%; }

#wrapper {  margin: 0 auto;  width: 100%; } 
#leftcolumn {  float: left; height: 100%; width: 23%; margin-left: 15px; position: relative; }
#rightcolumn {  float: right; height: 100%; width: 75%; display: inline; position: relative; } 

table {width:80%; text-align:center; border-style:none; margin:0 auto; background:#ffffcc; */}
